<h2>Big-O NOTATIONS</h2>
<div class="mt-4">
  <p class="mt-3">
    It doesn't matter where you live, what company you work in, even if you are programming for over 15 years from now, 
    but this is a thing that will surely chase you, either be it in a different term or in a different meaning. 
    It is the thing that truly makes a better developer.
  </p>

  <br />

  <h4>The Picture</h4>
  <p class="mt-3">
    <strong>"Big O"</strong>, that I came to know about when I was in 11th Grade. 
    It was not much of my interest since I was programming just for purpose of love. 
    Programming is the only thing that you can do whatever you want it to do.
  </p>
  <p class="mt-3">
    At the end of 11th grade, I fell in love with PHP and ready to dump JAVA. 
    Looping through 100 items in one go was really easy for me. 
    Searching for an item from dozens of array was just a breeze but thing to notice here that it was all happening on my <strong>Local Server (localhost)</strong>.
  </p>
  <p class="mt-3">
    When I hosted my project, it tends to take time to search for an item from a list of just 23 items. 
    My thought was blaming the internet connection speed (first time effect of a developer) as it takes time to load the page, 
    render it and then displaying items search results. 
    Yes, many of you might question about optimization and I would like to say "My code was optimized", but was it really?
  </p>
  <p class="mt-3">
    This is the turning point where I understood the importance of 
    Data Structure and how algorithms can be used to speed up time consuming process and the biggest thing is, 
    I always come around to dash into that <strong>Big O</strong> term.
  </p>

  <br />

  <div class="bg-faint-blue p-4" style="border-radius: 6px;">
    <h4>Harsh but True</h4>
    <p class="mt-3">
      Any Coder can solve a problem but what matters is how well the problem is solved. 
      This is where Big O can help us to know how well the problem is solved.
    </p>
    <p>
      Now I started blaming my code rather than my Internet Speed.
    </p>
  </div>

  <br />
  <br />

  <h4>Coding</h4>
  <p class="mt-3">Coding are the instructions given to a computer.</p>
  <p>We write codes which are the instructions for a computer to perform a task and produce some sort of result as a output.</p>
  <p>
    There are various ways of solving a same problem through coding. 
    But, the code that is used to solve a problem is efficient or not?
  </p>

  <br />

  <h4>Good Code and Bad Code</h4>
  <p class="mt-3">
    Two factors comes in for impression of a Good Code.
  </p>
  <ol>
    <li>Readability</li>
    <li>Scalability</li>
  </ol>

  <p>Let's explain what are these 2 things :</p>
  <ol class="list-display">
    <li>
      <strong>Readability:</strong>
      <br />
      Commented and Documented Code appears clean and beautiful so that others can understand it.
      Even you as a programmer, working with so many languages at once can understand when you come to work with that same code after a long time.
    </li>
    <li>
      <strong>Scalability:</strong>
      <br />
      Code that can be scaled. The Idea of scalability can be measured with Big O notation.
      The code that one could be familiar with because of Readability and then can be decided to change or extend it for more. 
      In one word Code that can be scaled up.
    </li>
  </ol>
  
  <p>Now you are ready to distinguish between Bad Code and Good Code.</p>
</div>