<h2>INTRODUCTION</h2>

<div class="mt-4">
  <h4>Algorithm</h4>
  <p class="mt-3">
    The best definition of algorithms that I have come across is the following :
  </p>
  <p class="bg-faint-blue p-4" style="border-radius: 6px;">
    <strong>Algorithms are a series of steps or rules for solving a computational problem.</strong>
  </p>
  <p>
    A <strong>Computational Problem</strong> is a collection of questions that computers might be able to solve.
    An example of a simple algorithm could be one used by a coffee maker, it might look something like this:
  </p>
</div>

<div class="mt-5">
  <h4>Algorithm Efficiency</h4>
  <p class="mt-3">
    Algorithm efficiency is the study of the amount of resources used by an algorithm. 
    The less resources used by the algorithm the more efficient it is.
  </p>
  <ul>
    <li>
      <p>
        <strong>Time efficiency :</strong> 
        <br /> 
        Amount of time an algorithm takes to solve a problem.
      </p>
    </li>
    <li>
      <p>
        <strong>Space efficiency :</strong> 
        <br /> 
        Amount of memory an algorithm needs to solve a problem.
      </p>
    </li>
    <li>
      <p>
        <strong>Complexity theory :</strong> 
        <br /> 
        The performance of an Algorithm based on cost functions of statement counts.
      </p>
    </li>
  </ul>

  <br />

  <p>
    Nevertheless, to have a good comparison between different algorithms we can compare based on the resources it uses :
  </p>
  <ul class="list-display">
    <li>how much time it needs to complete</li>
    <li>how much memory it uses to solve a problem</li>
    <li>how many operations it must do in order to solve the problem</li>
  </ul>
</div>