<nav style="padding-top: 60px;">
  <div class="row mt-5">
    <div class="col-md-12">
      <ul>
        <li>
          <a routerLink="/introduction" routerLinkActive='sb-active-link'><span>Introduction</span></a>
        </li>
        <li>
          <a routerLink="/bigonotations" routerLinkActive='sb-active-link'><span>Big-O Notations</span></a>
        </li>
        <li>
          <a routerLink="/ds" routerLinkActive='sb-active-link'><span>Data Structure</span></a>
        </li>
        <li>
          <a routerLink="/algo" routerLinkActive='sb-active-link'><span>Algorithms</span></a>
        </li>
        <li>
          <a routerLink="/cheatsheet" routerLinkActive='sb-active-link'><span>Big-O Cheatsheet</span></a>
        </li>
        <li>
          <a routerLink="/more" routerLinkActive='sb-active-link'>More. . .</a>
        </li>
      </ul>
    </div>
  </div>
</nav>